<h1>Task Entries</h1>

<% @task_entries.each do |task_entry| %>
Task note: <%= task_entry.note %><br>
Task duration: <%= task_entry.duration %><br>
Task ID : <%= task_entry.task_id %><br>
<%= link_to 'Show', task_entry_path(task_entry), :class => 'btn btn-light btn-sm'%><br>
<%= link_to 'Edit', edit_task_entry_path(task_entry), :class => 'btn btn-light btn-sm' %><br>
<%= button_to 'Destroy', task_entry, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
<% end %>
