<%= form_for(@user, url: signup_path) do |f| %>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field(:username, {:class => 'form-control', :placeholder => 'Enter Username'}) %>
  </div>

    <%= display_error(@user, :username) %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field(:email, {:class => 'form-control', :placeholder => 'Enter Email'}) %>
  </div>

    <%= display_error(@user, :email) %>

  <div class ="field">
    <%= f.label :password %>
    <%= f.password_field(:password, {:class => 'form-control', :placeholder => 'Enter Password'}) %>
  </div>

    <%= display_error(@user, :password) %>

  <div class = "field">
    <%= f.label :password_confirmation %>
    <%= f.password_field(:password_confirmation, {:class => 'form-control', :placeholder => 'Confirm Password'}) %>
  </div>

    <%= display_error(@user, :password_confirmation) %>

  <br>
  <div class="actions">
    <%= f.submit "Sign Up", class: "btn btn-primary btn-block" %>
  </div>
<% end %>
