<h3> Edit Preferences </h3>
<div>
<% if @user.errors.any? %>
  <div id = "error_explanation">
        <% @user.errors.full_messages.each do |msg| %>
        <div class = "alert alert-danger">
            <%= msg %>
        </div>
        <% end %>
  </div>
<% end %>
</div>


<div>
<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :username %><br/>
    <%= f.text_field(:username, {:class => 'form-control', :placeholder => 'Enter Username'}) %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field(:email, {:class => 'form-control', :placeholder => 'Enter Email'}) %>
  </div>

  <div class ="field">
    <%= f.label :password %>
    <%= f.password_field(:password, {:class => 'form-control', :placeholder => 'Enter Password'}) %>
  </div>

  <div class ="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field(:password_confirmation, {:class => 'form-control', :placeholder => 'Confirm Password'}) %>
  </div><br>

  <div class="actions">
  <%= f.submit "Save Preferences", class: "btn btn-light" %>
<% end %>
  <%= link_to "Delete Account", user_path , method: :delete,
                                              data: { confirm: "Are you sure?" },
                                              class: "btn btn-danger" %>
  </div>
</div>
