<h3>Customers</h3>
<i class="fas fa-plus"></i> <%= link_to 'New Customer', new_customer_path %>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Company</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zip</th>
      <th scope="col"></th>
      <th scope="col"></th>
   </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <th scope="row"><%= customer.company %></th>
        <td><%= customer.address %></td>
        <td><%= customer.city %></td>
        <td><%= customer.state %></td>
        <td><%= customer.zip %></td>
        <td><div><button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" <%= link_to "Show",customer_path(customer)%></a>
              <a class="dropdown-item" <%= link_to "Edit",edit_customer_path(customer)%></a>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
